<?xml version="1.0" encoding="utf8"?>
	<packages>
		<!-- here's the format:
		<package id="" version="" source="" /> -->

		
		<package id="dropbox" />
		<package id="firefox" />
		<package id="git" />
		<package id="googledrive" />
		<package id="listary" />
		<package id="notepadplusplus" />
		<package id="skype" />
		<package id="slack" />

		<!-- keyboard-layout-creator - 1.4 is the right version but the install is borked-->
	</packages>