<?xml version="1.0" encoding="utf8"?>
	<packages>
		<!-- here's the format:
		<package id="" version="" source="" /> -->

		<package id="7zip" />
		<package id="autohotkey" />
        <package id="ack" />
		<package id="ActivePerl" />
		<package id="directx" />
		<!-- package id="dotnet3.5" for winuae loader -see https://github.com/ansible/ansible/issues/14386/ hopefully fixed soon-->
		<!-- package id="dropbox" not wanted on laptop now, so desktop you'll have to update manaully/-->
		<!-- package id="firefox" firefox updates itself/-->
		<!--package id="freefilesync" - been broken for 2yrs+ - still on v6.9 https://chocolatey.org/packages/freefilesync /-->
		<package id="git" params="/GitAndUnixToolsOnPath" />
		<package id="GoogleChrome" />
		<!--package id="glasswire" - network monitor but it refuses to stop update prompts/-->
		<!--package id="googledrive" not wanted on laptop now, so desktop you'll hae to update manually /-->
        <package id="iCloud" />
		<package id="jbs" />
		<package id="jdk" />
		<!-- keyboard-layout-creator - 1.4 is the right version but the install is borked-->
		<package id="linkshellextension" />
		<package id="listary" />
		<package id="lili" />
		<package id="netdrive" />
		<package id="notepadplusplus" />
		<package id="qbittorrent" />
		<package id="rufus" />
		<package id="skype" />
		<package id="slack" />
		<package id="SourceTree" />
		<package id="teamviewer" />
		<package id="vcredist2010" />
		<package id="vcredist2013" />
		<package id="vcredist2015" />
		<package id="velocity" />
		<package id="vim-x64" />
		<package id="virtualbox" />
		<package id="virtualbox.ExtensionPack" />
		<!-- package id="vboxGuestAdditions.install" / CRYPT-E_Exists then doesn't install-->
		<package id="windirstat" />
		<package id="winmerge" />

	</packages>
