
#ignore thumbnails created by windows
Thumbs.db
#and mac
.DS_Store
._.DS_Store

#Ignore files build by Visual Studio
#*.obj
#*.exe
#*.pdb
#*.user
#*.aps
#*.pch
#*.vspscc
#*_i.c
#*_p.c
#*.ncb
#*.suo
#*.tlb
#*.tlh
#*.bak
#*.cache
#*.ilk
#*.log
#*.dll
#*.lib
#*.sbr

# Vim files
tags
*.swp
